/* App Title */
#app-title {
  width: 100%;
  text-align: center;
}

/* Map styling */
.map-container {
  position: relative;
  width: 100vw;
}

#map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Map Error */
.map-error-container {
  height: 100%;
  width: 100%;
  display: table;
  background-color: #e0e0e0;
  position: relative;
  left: 0;
  top: 0;
}

.map-error-content {
  border-radius: 1px;
  padding-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  position: static;
  vertical-align: middle;
  display: table-cell;
}

.map-error-icon {
  text-align: center;
}

.map-error-icon img {
  user-select: none;
}

.map-error-title {
  margin: 5px 5px 20px;
  color: #616161;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.map-error-message {
  margin: 5px;
  color: #757575;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  font-size: 0.8rem;
}

/* Search input styling */
.search-input {
  position: absolute;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-in-out;
  width: 40%;
  padding: 15px 10px;
  font-size: 1em;
  text-align: center;
  border: none;
  margin: auto;
  top: 2em;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.search-input:focus {
  opacity: 1;
}

.search-input:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.19), 0 0 10px rgba(0, 0, 0, 0.23);
  opacity: 1;
}

@media (max-width: 600px) {
  .search-input {
    width: 80%;
  }
}

/* No search result styling */
.no-result-container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_search_result {
  margin: 0 0 1em;
}

/* InfoWindow */
.info-label {
  font-weight: 500;
}

.api-info {
  font-size: 0.8em;
  color: gray;
}

/* 404 Not Found page */

.error-container {
  height: 100vh;
  margin: -40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Righteous', cursive;
}

.error-image {
  margin: 30px 0 30px;
}

.error-heading {
  margin: 0;
}

.error-message {
  margin: 6px 0 0 0;
  color: #999;
}

.back-to-home {
  margin: 45px 0 0;
}
